@{
    ViewData["Title"] = "Carts";
}

<div>
    @TempData["ActionResult"]
</div>

<td>
    <a href="/v2cart/CartInfo/61893a8b39d7aa3056c8e9f3"> CartInfo </a> |
    <a href="/v2cart/AddItem/61893a8b39d7aa3056c8e9f3"> Add </a> |
    <a href="/v2cart/AddItem/61893a8b39d7aa3056c8e9f5"> AddNewCart </a> |
    <a href="/v2cart/Delete/61893a8b39d7aa3056c8e9f3"> Delete </a>
</td>
